<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <h4>LOGO</h4>

      <ul class="col-sm-3">
        <li><a href="/">Home</a></li>
        <li> <a href="/contact">Contact</a></li>
        <li> <a href="/about">About Us</a></li>
      </ul>

      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </nav>

    <div class="bg-light p-5 text-center">
      <h2>My First Bootstrap Page</h2>
      <p>Some Bootstrap buttons:</p>
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-success">Success</button>
    </div>
    <div class="container">Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Id odit, accusantium in laborum quos commodi deserunt ipsum
      temporibus culpa, voluptatem praesentium a doloremque enim, asperiores et
      placeat! Possimus magni vero veritatis? Eum veniam aspernatur, recusandae
      minus eligendi maiores nostrum sint rem adipisci, suscipit quos iste? In
      facere nulla similique odit fuga dolorem natus sunt ipsum quisquam totam
      molestiae aliquid excepturi recusandae quo, voluptatibus repudiandae
      dolore delectus! Temporibus sapiente numquam vitae deleniti adipisci
      minima, debitis rerum optio blanditiis incidunt reprehenderit neque
      excepturi minus explicabo officiis fugit reiciendis aliquam voluptas
      facere. Eos beatae placeat ut mollitia, numquam ipsam veniam. Alias quo
      cupiditate architecto exercitationem dolores iure ipsam temporibus
      deleniti officiis, tempora molestiae voluptatum necessitatibus nulla,
      repudiandae fugiat ad quis, rem ab sapiente sequi aliquid? Velit at nemo
      laboriosam adipisci quam amet et fuga itaque magni non? Nesciunt in vitae
      officiis quia impedit! Laboriosam tempore voluptatum libero consequuntur
      cum dignissimos dolorum, dolores voluptatem eius dolor sunt nisi illum
      enim eaque quod est possimus ipsum magnam officiis deserunt. Aliquam
      doloremque ipsam ad nemo molestiae. Eius est consectetur ipsa velit quo
      minima molestiae voluptatibus modi possimus! Voluptatibus quaerat odit
      optio rem quisquam, dolor blanditiis veritatis laborum autem eligendi
      ratione nesciunt atque beatae non. Reiciendis deserunt ex sunt error vitae
      neque dolore optio, iusto placeat hic. Nam accusantium cupiditate, labore
      sit facere nobis delectus dolor, ullam, numquam laborum dolorem suscipit!
      Porro deleniti minima incidunt debitis dicta reiciendis provident.
      Repellendus deserunt, quos magni veniam fugit maxime, cum quasi explicabo
      eum, corporis rerum! Necessitatibus, id voluptatem! Quasi, nostrum nam!
      Expedita quam cum minima esse nulla! Totam fugiat quaerat animi quia odio
      laudantium dolore saepe. Aliquam, provident incidunt vel, minima
      asperiores quos, molestiae officia quae tenetur quas atque beatae at
      quisquam maiores. Hic unde temporibus sed aperiam nostrum! Sapiente
      nostrum perspiciatis, vel ullam quibusdam vero obcaecati eos provident
      numquam aperiam molestias iste recusandae voluptatum illum debitis
      expedita dolorum non, modi nulla quisquam laudantium sit nihil explicabo.
      Ad incidunt sapiente error quia adipisci nemo necessitatibus fugiat, quae
      voluptatibus praesentium aperiam ab? Esse excepturi aspernatur nobis
      nesciunt aperiam suscipit odio quisquam totam autem, sed accusamus maiores
      sint provident voluptatum harum quia doloribus laudantium neque. Harum
      placeat labore ex aut nobis maxime natus quia, qui quibusdam molestiae
      deserunt magni iste, perferendis omnis dolor repudiandae ducimus?
      Molestiae aperiam veniam nisi sed ut harum sit adipisci excepturi.
      Corrupti, porro, quos sapiente voluptates illo a consequatur ea laboriosam
      optio molestiae quam accusantium! Et incidunt aut eligendi ducimus, quae
      officia ipsa inventore! Quaerat ex unde, est rerum autem dicta harum
      necessitatibus debitis laudantium quod natus maxime magnam consequuntur
      ullam dignissimos libero enim, beatae commodi perspiciatis ipsa officia
      illum voluptatibus adipisci. Repudiandae eveniet nihil porro. Veniam
      consequuntur provident, deleniti explicabo error aliquid aliquam tempora
      animi itaque soluta.</div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>