/* universal operator */
* {
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  /* menu bar css */
  .login,
  .register {
    text-decoration: none;
    color: white;
  }
  .login:hover,
  .register:hover {
    text-decoration: underline;
    color: white;
    background-color: rgb(202, 202, 16);
  }
  /* header section css  */
  .header-section {
    width: 100%;
    height: 110vh;
    background-image: linear-gradient(
        rgba(0, 150, 254, 0.3),
        rgba(0, 121601, 154, 0.3)
      ),
      url("../images/books.jpg");
    clip-path: polygon(0% 0%, 100% 0, 100% 86%, 50% 100%, 0 86%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .header-buttons a {
    border: 2px solid white;
    border-radius: 100px;
    margin: 10px 5px;
    padding: 10px;
    text-align: center;
  }
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }